<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
	<link href="https://fonts.googleapis.com/css?family=Mukta+Vaani" rel="stylesheet">
	<link rel="stylesheet" href="/css/header.css" type="text/css"/>
	<script src="https://code.jquery.com/jquery.js"></script>
	<title>Luke Keltner</title>
</head>
<body>
<!-- 	<div class="container-fluid">
		<div class="row" id="header">
			<div class="col-md-4">
				<h1 class="header-text">Luke Keltner</h1>
			</div>
			<div class="col-md-4 text-center align-middle">
				<a href="#whatido">What I Do</a> | 
				<a href="#projects">Projects</a> | 
				<a href="#references">References</a>
			</div>
			<div class="col-md-4">
				<p class="pull-right" id="copyright">&copy Luke Keltner 2017</p>
			</div>
		</div>
	</div> -->

<nav class="navbar navbar-expand-lg fixed-top">
  <a class="navbar-brand" href="#" id="header-name">Luke Keltner</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <div class="navbar-nav">
      <a class="nav-item nav-link extra" href="#whatido">What I Do <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link extra" href="#projects">Projects</a>
      <a class="nav-item nav-link extra" href="#references">References</a>
      <a class="nav-item nav-link extra" href="#contactme">Contact Me</a>
      <a class="nav-item nav-link extra" href="#" data-toggle="modal" data-target=".bd-example-modal-lg">Resume</a>
      <a class="nav-item nav-link" href="https://github.com/LukeKeltner" target="_blank"><i class="fa fa-github-square fa-2x" aria-hidden="true"></i></a>
      <a class="nav-item nav-link" href="https://www.linkedin.com/in/luke-keltner" target="_blank"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a>
    </div>
  </div>
  <p id="copy">&copy Luke Keltner 2017</p>
</nav>
	{{{ body }}}

	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

	</body>
</html>