

	<div class="container">
		<div class="row">
			<h3>Search History</h3>
			<div class="col-md-12 search-buttons">
			</div>
		</div>

		<div class="row search-bar">
			<div class="col-md-12 text-center">
				<label>Search for a GIF!</label><span><input type="text" name="search" placeholder="Search for a GIF!" id="search"></span><br>
				<label># of results you want</label><span><input type="text" name="search" placeholder="# of results you want" value="20" id="result-number"></span>
				<br>
				<button type="button" class="btn btn-primary btn-lg" id="search-button">Search</button>
				<button type="button" class="btn btn-primary btn-lg" id="trending-button">What's Trending?</button>
			</div>
		</div>

		<div class="row search-results-row">
			<div class="col-md-12 text-center search-results">
			</div>
		</div>




	</div>


	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script type="text/javascript" src="scripts/giphyScript.js"></script>
	<link href="css/giphyStyle.css" rel="stylesheet" />