<link rel="stylesheet" href="/css/index.css" type="text/css"/>

<div class="fluid-container clearfix" id="image-container">
	<img src="images/person.jpg" id="me"/>
	<soan class="testtext"><h1>Hello, I'm Luke<h1><h3>Full Stack Web Developer<h3></span>
</div>


<div class="fluid-container text-center" id="projects">
	<div class="row">
		<div class="col-md-4 text-center">
			<h1>Frontend</h1>
		</div>
		<div class="col-md-4 text-center">
			<h1>Backend</h1>
		</div>
		<div class="col-md-4 text-center">
			<h1>Databases</h1>
		</div>
	</div>
</div>