<link rel="stylesheet" href="/css/index.css" type="text/css"/>

<div class="fluid-container clearfix" id="image-container">
	<img src="images/person.jpg" id="me"/>
	<span class="testtext"><h1>Hello!<h1><h3>Some Stuff Here<h3></span>
	<a name="whatido"></a>
</div>

<div class="container text-center" id="skills">
	<div class="row">
		<div class="col-md-3">
		</div>
		<div class="col-md-6">
			<h1 id="what-i-do">What I Do</h1>
			<hr>
		</div>
		<div class="col-md-3">
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<i class="fa fa-user fa-3x skills" aria-hidden="true"></i>
			<h3>Front-End</h3>
			<h5>Creates professional quality frontends with intuitive user interfaces that look goooood</h5>
		</div>
		<div class="col-md-6">
			<i class="fa fa-database fa-3x skills" aria-hidden="true"></i>
			<h3>Back-End and Databases</h3>
			<h5>Develops and maintains servers with complex funcationality to incorporate any type of use. Constructs SQL and noSQL databases that can keep track, manipulate, and run statisctics on any type of information</h5>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<i class="fa fa-lightbulb-o fa-3x skills" aria-hidden="true"></i>
			<h3>Knowledge</h3>
			<h5>HTML5, CSS3, Javascript, JQuery, Bootstrap, Angular JS, Firebase, Ionic Mobile Framework, Node Js, MySQL, MongoDB, Express, Handlebars JS, AES Password Encryption, c3.js, Java, Python - including pandas and scikit-learn for Data Science. Efficient in both team and individual settings. </h5>
		</div>
	</div>
	<a name="projects"></a>
</div>

<div class="fluid-container" id="projects">
	<div id="project-list">
	<div class="row">
		<div class="col-md-3">
		</div>
		<div class="col-md-6 text-center">
			<h1 id="project-title">Projects</h1>
			<hr>
		</div>
		<div class="col-md-3">
		</div>
	</div>
		<div class="row text-center">
			<div class="col-md-4">
				<h1><i class="fa fa-question fa-4x project-image" aria-hidden="true" id="riddle"></i><h1>
				<h3>Riddle Game</h3>
			</div>
			<div class="col-md-4">
				<h2><i class="fa fa-microphone fa-4x project-image" aria-hidden="true" id="tom"></i><h2>
				<h3>Tom Keltner Sings the Classics</h3>
			</div>
			<div class="col-md-4">
				<h1><i class="fa fa-globe fa-4x project-image" aria-hidden="true" id="apifun"></i></h1>
				<h3>API Fun</h3>
			</div>
		</div>
		<div class="row text-center">
			<div class="col-md-4">
				<h1><i class="fa fa-heartbeat fa-4x project-image" aria-hidden="true" id="rf"></i><h1>
				<h3>Surgery Complication Predictor</h3>
			</div>
			<div class="col-md-4">
				<h1><i class="fa fa-shopping-bag fa-4x project-image" aria-hidden="true" id="bamazon"></i><h1>
				<h3>Bamazon</h3>
			</div>
			<div class="col-md-4">
				<a href="https://github.com/LukeKeltner" target="_blank"><h1><i class="fa fa-github-square shadow fa-4x" aria-hidden="true" id="github"></i><h1></a>
				<h3 id="github-text">Go to my Github for more!</h3>
			</div>
		</div>

	</div>
	<div class="container" id="specific-project">
		<div class="row">
			<div class="col-lg-10">
				<h1 id="project-description"></h1>
			</div>
			<div class="col-lg-2 text-center" id="project-image-insert">
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<h5>Features
					<ul id="project-features">
					</u2>
				</h5>
			</div>
			<div class="col-md-6">
				<h5>Technology
					<ul id="project-tech">
					</u2>
				</h5>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4 text-center" id="github-link">
			</div>
			<div class="col-sm-4 text-center" id="heroku-link">
			</div>
			<div class="col-sm-4 text-center">
				<i class="fa fa-arrow-left fa-5x" aria-hidden="true" id="back"></i>
				<h2>Back</h2>
			</div>

		</div>
	</div>
	<a name="references"></a>
</div>

<div class="container text-center" id="references">
	<div class="row">
		<div class="col-md-3">
		</div>
		<div class="col-md-6 text-center">
			<h1 id="references-title">References</h1>
			<hr>
		</div>
		<div class="col-md-3">
		</div>
	</div>

	<div class="row center-block">
		<div class="col-lg-4">
			<div class="card .mx-auto" style="width: 20rem;">
				<a href="https://www.linkedin.com/in/michaelgmendez/" target="_blank" class="ref-link">
				<div class="card-body">
					<h2 class="card-title">Michael G. Mendez</h2>
					<p class="card-text">Senior open stack systems developer and educator</p>
				</div>
				<div class="card-footer">
		    		<p>michaelgmendez@gmail.com<br>
					716-952-9228</p>
		  		</div>
		  		</a>
			</div>
		</div>

		<div class="col-lg-4">
			<div class="card .mx-auto" style="width: 20rem;">
				<a href="https://www.linkedin.com/in/justin-lyon/" target="_blank" class="ref-link">
				<div class="card-body">
					<h2 class="card-title">Justin Lyon</h2>
					<p class="card-text">Senior Technical Consultant I - Acumen Solutions</p>
				</div>
				<div class="card-footer">
		    		<p>jml6487@gmail.com<br>
					440-506-6189</p>
		  		</div>
		  		</a>
			</div>
		</div>

		<div class="col-lg-4">
			<div class="card .mx-auto" style="width: 20rem;">
				<a href="https://www.linkedin.com/in/dustin-hershman-938953101/" target="_blank" class="ref-link">
				<div class="card-body">
					<h2 class="card-title">Dustin Hershman</h2>
					<p class="card-text">Full Stack Software Developer - Dealer Tire</p>
				</div>
				<div class="card-footer">
		    		<p>dustinh17@gmail.com<br>
					440-922-6672</p>
		  		</div>
		  		</a>
			</div>
		</div>
	</div>	
	<a name="contactme">
</div>

<div class="fluid-container" id="contact">

	<div class="row">
		<div class="col-md-3">
		</div>
		<div class="col-md-6 text-center">
			<h1 id="contact-title">Contact Me</h1>
			<hr>
		</div>
		<div class="col-md-3">
		</div>
	</div>


	<div class="container">
				<div class="row">
					<div class="col-md-6">
						<form action="/submit" method="post" id="submit-email">
								  <div class="row">
								    <div class="col-md-12 mb-3">
								      <label for="email">Your Name</label>
								      <input type="text" class="form-control" id="name" required>
								    </div>
								  </div>		
								  <div class="row">
								    <div class="col-md-12 mb-3">
								      <label for="email">Your Email</label>
								      <input type="email" class="form-control" id="email" required>
								    </div>
								  </div>
								  <div class="row">
								    <div class="col-md-12 mb-3">
								      <label for="subject">Subject</label>
								      <input type="text" class="form-control" id="subject" required>
								    </div>
								  </div>
								  <div class="row">
								    <div class="col-md-12 mb-3">
								      <label for="validationServer01">Message</label>
								      <textarea type="text" class="form-control" id="message" rows="6" required></textarea>
								    </div>
								  </div>

								  <input type="submit" class="submit-btn" value="Submit" id="submit"></input>
						</form>
					</div>

					<div class="col-md-6 text-center">
						<p><div class="title">Email: </div><div class="data">lkeltner87@gmail.com</div></p>
						<p><div class="title">Phone #: </div><div class="data">937-304-9533</div></p>
						<div class="alert alert-danger" role="alert" id="email-error">
							There was an error.  If you are having trouble, don't hesitate to email me directly or call!
						</div>
						<div class="alert alert-success" role="alert" id="email-success">
							Thanks for contacting me!  I will get back to you shortly.
						</div>
						<p class="title" id="sending">Sending...<p>
					</div>
				</div>
	</div>

</div>


<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
		      <embed src="Luke Keltner Resume.pdf" width="100%" height="1000px" />
		</div>
	</div>
</div>

<script src="/scripts/index.js" type="text/javascript"></script>