<link rel="stylesheet" href="/css/index.css" type="text/css"/>

<div class="fluid-container clearfix" id="image-container">
	<img src="images/person.jpg" id="me"/>
	<span class="testtext"><h1>Hello!<h1><h3>Some Stuff Here<h3></span>
</div>

<div class="fluid-container text-center" id="skills">
	<div class="row">
		<div class="col-md-4 text-center">
			<i class="fa fa-user fa-3x" aria-hidden="true"></i>
			<h3>Frontend</h3>
			<h5>Creates professional quality frontends with intuitive user interfaces that look goooood</h5>
		</div>
		<div class="col-md-4 text-center">
			<i class="fa fa-exchange fa-3x" aria-hidden="true"></i>
			<h3>Backend</h3>
			<h5>Develops and maintains servers with complex funcationality to incorporate any type of use</h5>
		</div>
		<div class="col-md-4 text-center">
			<i class="fa fa-database fa-3x" aria-hidden="true"></i>
			<h3>Databases</h3>
			<h5>Constructs SQL and noSQL databases that can keep track, manipulate, and run statisctics on any type of information</h5>
		</div>
	</div>
</div>

<div class="fluid-container text-center" id="projects">
	<div class="row">
		<div class="col-md-12 text-center">
			<h1 id="project-title">Projects</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8">
			<div class="row">
				<div class="col-md-4 center-block">
					<img src="images/square.png" class="project-image"></img>
					<h2>Project 1</h2>
				</div>
				<div class="col-md-4">
					<img src="images/square.png" class="project-image"></img>
					<h2>Project 2</h2>
				</div>
				<div class="col-md-4">
					<img src="images/square.png" class="project-image"></img>
					<h2>Project 3</h2>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<h1>Project description!</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8">
			<div class="row">
				<div class="col-md-4 center-block">
					<img src="images/square.png" class="project-image"></img>
					<h2>Project 4</h2>
				</div>
				<div class="col-md-4">
					<img src="images/square.png" class="project-image"></img>
					<h2>Project 5</h2>
				</div>
				<div class="col-md-4">
					<img src="images/square.png" class="project-image"></img>
					<h2>Project 6</h2>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<h1>Project description!</h1>
		</div>
	</div>
</div>