<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<script src='https://api.mapbox.com/mapbox-gl-js/v0.38.0/mapbox-gl.js'></script>

	<title>Map API Fun!</title>
</head>
<body>
	
	<div class="container">


		<div class="row">
			<div class="col-xs-12 text-center">
				<h1>Map Fun!</h1>
			</div>

		</div>



		<div class="row">
			<div class="col-md-6" id="map-div">
				<button type="button" class="btn btn-primary" id="street">Street</button>
				<button type="button" class="btn btn-primary" id="satellite">Satellite</button>
				<button type="button" class="btn btn-primary" id="satellite-street">Satellite Street</button>
				<div id='map'></div>
			</div>

			<div class="clear"></div>

			<div class="col-md-6 text-center">
				<div class="container-fluid">
					<div class="row">
						<div class="col-xs-6">
							<h1>Latitude</h1>
							<h3 class="lat"></h3>
						</div>

						<div class="col-xs-6">
							<h1>Longitude</h1>
							<h3 class="long"></h3>
						</div>
					</div>



					<div class="row">
						<div class="col-xs-6">
							<h1>Area</h1>
							<h3 class="area"></h3>
						</div>

						<div class="col-xs-6">
							<h1>Weather</h1>
							<h3 class="weather"></h3>
						</div>
					</div>

					<div class="row">
						<div class="col-xs-12">
							<h3 class="temp"></h3>
							<h3 class="humidity"></h3>
							<h3 class="wind"></h3>
						</div>
					</div>



				</div>
			</div>
		</div>
	</div>









	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script type="text/javascript" src="assets/javascript/mapbox.js"></script>
	<link href='https://api.mapbox.com/mapbox-gl-js/v0.38.0/mapbox-gl.css' rel='stylesheet' />
	<link href="assets/css/mapboxStyle.css" rel="stylesheet" />

</body>
</html>