
	<div class="container">

		<div class="row" id="graph-container">
			<div class="col-md-12 text-center">
				<div id="chart"></div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6 text-center">
				<input type="text" name="search" placeholder="Search for a movie!" id="search-input">
				<br>
				<button type="button" class="btn btn-primary btn-lg" id="search-button">Search</button>
				<button type="button" class="btn btn-primary btn-lg" id="clear-graph">Clear Graph</button>
				<h1 class="users-pick">
				</h1>
				<p class="bio"></p>
				<img src="" class="movie-pic"/>
			</div>

			<div class="col-md-6 text-center">
				<div class="list-group search-results">
				</div>
			</div>
		</div>


	</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script type="text/javascript" src="scripts/omdbScript.js"></script>
	<script src="c3-0.4.16/d3.v3.min.js" charset="utf-8"></script>
	<script src="c3-0.4.16/c3.min.js"></script>
	<link href="c3-0.4.16/c3.css" rel="stylesheet">
	<link href="css/OMDBStyle.css" rel="stylesheet" />