<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<title>OMDB Search</title>
</head>
<body>

	<div class="container">

		<div class="row" id="graph-container">
			<div class="col-md-12 text-center">
				<div id="chart"></div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6 text-center">
				<input type="text" name="search" placeholder="Search for a movie!" id="search-input">
				<br>
				<button type="button" class="btn btn-primary btn-lg" id="search-button">Search</button>
				<button type="button" class="btn btn-primary btn-lg" id="clear-graph">Clear Graph</button>
				<h1 class="users-pick">
				</h1>
				<p class="bio"></p>
				<img src="" class="movie-pic"/>
			</div>

			<div class="col-md-6 text-center">
				<div class="list-group search-results">
				</div>
			</div>
		</div>


	</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script type="text/javascript" src="assets/javascript/omdbScript.js"></script>
	<script src="assets/c3-0.4.16/d3.v3.min.js" charset="utf-8"></script>
	<script src="assets/c3-0.4.16/c3.min.js"></script>
	<link href="assets/c3-0.4.16/c3.css" rel="stylesheet">
	<link href="assets/css/OMDBStyle.css" rel="stylesheet" />

</body>
</html>