body
{
  margin-top: 100px;
}

#header
{
	display:none;
}

button
{
  height:100px;
  margin-top:50px;
}


a:hover
{
  text-decoration: none;
}

.btn
{
	white-space:normal;
    word-wrap: break-word;
}