body 
{
	overflow-y: scroll;
	overflow-x: hidden;
	font-size: 20px;
	color: #263f68;
}

#image-container
{
	width:100%;
	max-height:100vh;
	max-width:100vw;
	position: relative;
	font-size: 30px;
	overflow: hidden;
	z-index: 3;
}

#me
{
	width:100%;
	max-width: 100%;
	z-index: 3;
}

.testtext
{
	position: absolute;
	left:60%;
	top:30%;
	text-align: center;
	font-size: 4rem;
}

#skills
{
	margin-top: 120px;
	position: relative;
	margin-bottom: 120px;
}

.skills
{
	color:#263f68;
}

#projects
{
	padding-top:120px;
	background-color:#263f68; 
	color: white;
	padding-bottom:120px;
}

#project-title
{
	font-size: 60px;
}

.project-image
{
	width: 60%;
}

.project-image:hover
{
	text-shadow: 0px 20px 5px rgba(0,0,0,.5); 
}

.project-image:active
{
	transform: translateY(10px);
	text-shadow: 0px 10px 5px rgba(0,0,0,.7);
}

#what-i-do
{
	font-size: 60px;
	color:#263f68;
}

#specific-project
{
	display: none;
}

.fa-arrow-left, .shadow, .fa-gamepad, .fa-eye, .fa-youtube-play
{
	color:white;
}

.fa-arrow-left:hover, .shadow:hover, .fa-gamepad:hover, .fa-eye:hover, .fa-youtube-play:hover
{
	text-shadow: 0px 20px 5px rgba(0,0,0,.5);
}

.fa-arrow-left:active, .shadow:active, .fa-gamepad:active, .fa-eye:active, .fa-youtube-play:active
{
	text-shadow: 0px 10px 5px rgba(0,0,0,.7);
	transform: translateY(10px);
}

.card:hover
{
	box-shadow: 0px 20px 5px rgba(0,0,0,.5);
}

.card:active
{
	box-shadow: 0px 10px 5px rgba(0,0,0,.7);
	transform: translateY(10px);
}

#references
{
	padding-top:120px;
	background-color:white; 
	padding-bottom:120px;
}

#references-title
{
	font-size: 60px;
	color:#263f68;
}

.fa-microphone
{
	margin-top:30px;
}

.project-text
{
	position: absolute;
	bottom:0%;
}

.fa-question
{
	/*color:yellow;*/
	color:#fff6bc;
}

.fa-microphone
{
	/*color:black;*/
	color:#b2b2b2;
}

.fa-globe
{
	/*color:#5acc2a;*/
	color:#b2ffca;
}

.fa-heartbeat
{
	/*color:red;*/
	color:#ffb5c2;
}

.fa-shopping-bag
{
	/*color: white;*/
	color:#efccff;
}

#github
{
	/*color:#8cb8ff;*/
	color:white;
}

.refpic
{
	width:75%;
	border-radius: 50%;
	border:4px solid #263f68;
	clear:both;
}

.ref-text-container
{

	position: relative;
	clear:both;
}

.ref-text
{
	position: absolute;
	top:50%;
	right:50%;
	transform: translate(50%, -50%);
	clear:both;
}

.card
{
	border: 3px solid #263f68;
	margin:auto;
	margin-top:40px;
	overflow:hidden;
}

.card-body
{
	border-top: 1px solid #263f68;
}

.card-footer
{
	border-top: 1px solid #263f68;
	color:white;
	background-color:#263f68 
}

.card > a
{
	text-decoration: none;
}

#contact
{
	padding-top:120px;
	background-color:#263f68; 
	color: white;
	padding-bottom:120px;
}

#contact-title
{
	font-size: 60px;
	color:white;
}

.submit-btn
{
	background-color: white;
	color:#263f68;
	border-radius: 3px;
	border:none;
}

.submit-btn:hover
{
	box-shadow: 0px 20px 5px rgba(0,0,0,.5);
}

.submit-btn:active
{
	box-shadow: 0px 10px 5px rgba(0,0,0,.7);
	transform: translateY(10px);
}

.title
{
	font-size: 30px;
}

#email-error
{
	display: none;
}

#email-success
{
	display: none;
}

#sending
{
	display: none;
}

.navicon
{
	color:#263f68;
}

#small
{
	display: none;
}

@media (max-width: 700px)
{

	#me
	{
		display: none;
	}

	#small
	{
		display: inline;
	}

	#small-text
	{
		margin-top: 100px;
	}

	.navbar-nav
	{
		max-height:300px;
		overflow-y: scroll;
	}
}