body
{
  margin-top: 30px;
}

#map
{
  border:1px solid black;
  width:100%;
  height:500px;
}

h1
{
  border-bottom: 1px solid black
}

.clear
{
  display: none;
  clear:both;
}

.btn
{
  margin-bottom: 10px;
}

#map
{
  box-shadow: 0 30px 30px grey;
}