body
{
  margin-top:30px;
}

#search-button
{
  margin-top:30px;
}

#clear-graph
{
  margin-top:30px;
}

canvas
{
	height:50px;
	responsible: false
}

#graph-container
{
	height:300px;
}

.c3-title
{
	font-size: 50px;
}